<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
      <div class="card text-center h-100">
        <img
          src="https://cdn.pixabay.com/photo/2021/03/09/10/05/laptop-6081424_960_720.png"
          class="img-responsive card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Distribuidores</h5>
          <p class="card-text">
            Esta sección te permite gestionar lo relacionado a distribuidores.
          </p>
          <a href="/distributors" class="btn btn-primary">Ir a Distribuidores</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-center h-100">
        <img
          src="https://cdn.pixabay.com/photo/2021/03/09/10/05/laptop-6081424_960_720.png"
          class="img-responsive card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">
            Ve los productos disponibles y gestionalos en esta sección.
          </p>
          <a href="/products" class="btn btn-primary">Ir a Productos</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card text-center h-100">
        <img
          src="https://cdn.pixabay.com/photo/2021/03/09/10/05/laptop-6081424_960_720.png"
          class="img-responsive card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Canales Autorizados</h5>
          <p class="card-text">
            Visualiza y gestiona los canales disponibles en la App.
          </p>
          <a href="/channels" class="btn btn-primary">Ir a Canales</a>
        </div>
      </div>
    </div>
  </div>
</div>
