<div class="container">
    <form>
      <h2 class="mt-4">Nuevo Canal</h2>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="channel.name"
        />
      </div>
      <div class="form-group row">
        <label for="distributor" class="col-form-label col-sm-2"
          >Distribuidor</label
        >
        <div>
          <select [compareWith]="compareDistributor"
            [(ngModel)]="channel.distributor"
            class="form-control"
            name="distributor"
          >
            <option [ngValue]="undefined">--- Seleccionar un distribuidor</option>
            <option
              *ngFor="let distributor of distributors"
              [ngValue]="distributor"
            >
              {{ distributor.name }}
            </option>
          </select>
        </div>
      </div>
  
      <button
        type="submit"
        class="btn btn-primary mt-4" *ngIf="!channel.id"
        (click)="createChannel()"
      >
        Guardar
      </button>
      <button
        type="submit"
        class="btn btn-primary mt-4" *ngIf="channel.id"
        (click)="updateChannel()"
      >
        Guardar
      </button>
      
    </form>
  </div>
  