<div class="container">
    <div class="d-flex p-2 justify-content-between">
      <h2>Distribuidores</h2>
      <button class="btn btn-outline-primary btn-sm" [routerLink]="['distributor/']">
        <i class="fa fa-plus"></i>
        Crear Distribuidor
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">"Email" para Notificaciones</th>
          <th scope="col">Email para Alertas</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distributor of distributors">
          <th scope="row">{{ distributor.id }}</th>
          <td>{{ distributor.name }}</td>
          <td>{{ distributor.notificationEmail }}</td>
          <td>{{ distributor.alertEmail }}</td>
          <td>
            <button
              class="btn btn-outline-secondary btn-sm me-2"
              data-bs-toggle="tooltip"
              title="Editar"
              [routerLink]="['distributor/', distributor.id]"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button
              class="btn btn-outline-danger btn-sm"
              data-bs-toggle="tooltip"
              title="Eliminar"
              (click)="removeDistributor(distributor.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
